h1,h2,h3,h4{
	font-weight:normal;
}

body{
	color: #303133;
	font-size: 14px;
	line-height: 20px;
	font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

.article_list_none{
	text-align: center;
	margin: 10px 0 20px 0;
	font-style: italic;
	color: #909399;
  }